body{
	margin-left:250px;
	margin-top:10px;
	margin-right:100px;
	margin-bottom: 10px;
	padding: 10px;
	
	font-family: sans-serif;
}
section{
	margin: 5px;
	border: 1px solid lightgrey;
}

/*		MENU		*/
nav ul li{						/* option du menu */
	display:inline-block;
	border: 2px solid grey;
	border-radius: 0px 16px 15px 16px;
	background-color:#b93f3f;
	padding: 3px;
	transition-duration:0.5s;
	transition-timing-function: linear;
}
nav ul li:hover{
	background-color: #c95a5a;
}
nav ul li a {
	text-decoration: none;
	font-size:20px;
	text-transform: capitalize;
	color: white;
}

nav ul li ul li a{				/* option de sous-menu */
	font-size: 15px;
}
nav ul li ul:firstchild{
	margin-top: 5px;
}
#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
/* on centre le menu dans la page */
    text-align: center;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}
/*		FIN MENU		*/

/*		HEADER			*/
header em{
	background-color: #B52B2B;
	color:white;
	
	border-radius: 5px;
	padding:2px;
}
/*		FIN HEADER		*/

/*		MODULES			*/
aside {
	position: fixed;
	left:10px;
	
	width:200px;
	border-radius: 0px 25px 15px 50px;
	font-size:12px;
	color: white;
	background-color:#b93f3f;
	
	transition-duration: 0.75s;
	transition-timing-function: ease-out;
}
aside:hover{
	background-color:#c95a5a;
}
aside a{
	color: inherit;
	text-decoration: none;
}
aside li{
	margin-left:-15px;
	
	transition-duration: 0.5s;
	transition-timing-function: linear;
}
aside li:hover{
	padding-top: 10px;
	padding-bottom: 10px;
}
aside h1{
	margin:5px;
	font-size: 20px;
	color : white;
}
aside p{
	text-align: center;
}
/*		FIN MODULE NEWS		*/

/*		FOOTER				*/
footer {
	color:grey;
	border: 1px solid lightgrey;
	
/*	position : fixed;*/
	bottom:10px;
	left: 10px;
	font-size:10px;
	
	padding:5px;

}
/*		FIN FOOTER			*/

.eltEntete {
	display: inline-block;
    margin: 5px;
	font-size: 12px;
}

#connect {	
	border: 2px solid grey;
	border-radius: 10px;
	padding: 3px;
}
#connect a{
	text-decoration:none;
	color:inherit;
}

.inputBtn {
	background: #d99292;
	border-radius: 10px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	padding: 1%;
	text-decoration: none;
	
	transition-duration: 0.75s;
	transition-timing-function: ease-out;
}
.inputBtn:hover {
	background: #c70000;
	text-decoration: none;
}

article {
	padding: 15px;
}
article:target{
	border-radius: 100px;
	box-shadow: 0px 0px 100px 0.5px #ffccc9;
	background-color: rgba(255, 204, 201, 0.47);
}

#imagPres, #motPresident{
	float : left;
	margin : 15px;
}
#livreAssoc {
	float : left;
	padding : 15px;
	padding-top: 0px;
	max-height: 150px;
}

.logoPartenaires {
	height: 50px;
	float: left;
	padding: 15px;
}

em{
	text-emphasis-position: above;
	color:#A40004;
	
	border-radius: 5px;
	padding:2px;
}
#connexion {
	display:inline-block;
	border: 1px solid grey;
	border-radius: 15%;
}
#connexion div{
	text-align: right;
	padding : 4%;
	padding-bottom: 2%;
	padding-top: 3%;
}
