#menu-deroulant ul {
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration:none;
	text-align:center;
	}
 
#menu-deroulant li {
	float:left;
	margin:auto;
	padding:0;
	background-color: #A00F1B;
	}
 
#menu-deroulant li a {
	display:block;
	width:100px;
	color:white;
	text-decoration:none;
	padding:5px;
	}
	
#menu-deroulant ul a {
	display:block;
	width:100px;
	color:white;
	text-decoration:none;
	padding:5px;
	}
 
#menu-deroulant li a:hover {
	text-decoration:none;
	color:#FFD700;
	}
 
#menu-deroulant ul li ul {
	text-decoration:none;
	display:none;
	}
	
#menu-deroulant ul li:hover ul {
	text-decoration:none;
	display:block;
	}
	
#menu-deroulant li:hover ul li {
	text-decoration:none;
	float:none;
	}
 
#menu-deroulant li ul {
	text-decoration:none;
	position:absolute;
	}

#footer{
	width:100%;
	height:50px;
	padding-top:10px;
	background-color:#222222;
	border-top:solid #444444 8px;	
	padding-top:20px;
	position:absolute;
	bottom:0px;
	box-shadow:0 -5px 5px #858585;
	position:relative;	
	color:#CCCCCC;
	font-size:12px;
	text-align:center;
}

#colonne{
	float : left;
	width: 20%;	
	min-height:355px;
	margin-left: 3px;
	color:#222222;
	font-size:15px;
}