nav>ul
{

	padding-left: 18%;
	background: rgb(122, 139, 185);
}

nav>ul>li
{
	display: inline-block;
	width: 20%;
    transition-duration: 0.5s;
}

nav a
{
	text-decoration: none;
	text-align: center;
	padding: 5% 1%;
	display: block;
	color: rgb(50,50,50,1);
	background: rgb(122, 167, 211);
    margin : 2% 5%;
}   

nav ul a:hover
{
    background-color: rgb(58, 121, 206);   
}

#titre{
    left : 17%;
    font-size : 150%;
    width: 60%;
}

#logo{
    width: 80%;
}

html{
/*background: rgba(89, 152, 191, 0.12);*/
background: rgb(207,231,250); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(207,231,250,1) 0%, rgba(99,147,193,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,231,250,1)), color-stop(100%,rgba(99,147,193,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */

background-repeat: no-repeat;
}

body{
    margin-top: 0px;
    background-color: white;
    width: 900px;
    padding-bottom: 10%;
    margin-left : 10%;
    margin-right: 10%;
    box-shadow: 6px 5px 10px 6px rgba(91, 90, 90, 0.75); 
    font-family: sans-serif;
}

.btn {
  background: #4498ce;
  background-image: linear-gradient(to bottom, #3cb0fd, #8c7b7b);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;   
  font-size: 20px;
  text-decoration: none;
  padding : 1% 2%;
  margin-top:2%;
    margin-left: 70%;
}

.btn:hover {
  background: #8c7b7b;
  background-image: linear-gradient(to bottom, #8c7b7b, #3cb0fd);
  text-decoration: none;
}

.photo_article {
    margin: 2%;
    margin-left : 20%;
}

#connexion{
    background-color: rgba(150,150,150,1);
    margin-left: 30%;
    margin-right: 30%;
}
.corps {
    display : inline-block;
    margin-left: 30%;
    width: 65%;
}

h1, h2, h3{
    border-radius: 5%;
    background-color: rgba(211, 229, 244, 0.89);
}

p {
    text-align: justify;
    font-size : 100%;
}


.calendrier {
    margin-left : 17%;
}

table {
    border: 1px solid #5f73e5;
}

th {
     border: 1px solid #9ab6e3;
}

td {
    border: 1px solid #9ab6e3;
}

.pres {
    font-weight: bold;
}

header div {
    display : inline-block;
}

#gauche {
    position: absolute;
    display : inline-block;
    margin-left : 1%;
    margin-top : 1%;
    padding: 1%;
    width: 200px;
}

#gauche div {
    margin-top: 5%;
    border: 1px solid #5992ed;   
    padding : 5%;
}

.cal {
    position: absolute;
    display : inline-block;
    margin-left : 2%;
    padding: 1%;
    width: 200px;
    border: 1px solid black;
}

section {
    padding : 1% 5%;
}



#liste>li {
    margin : 1%;
}

.valeur {
    font-weight: bold;
}



form {
    margin-left : 10%;
}

#switch {
    margin-bottom: 1%;
}
