   /*__Edition d'articles__*/
.boutonGris {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.boutonGris:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.boutonGris:active {
	position:relative;
	top:1px;
}

.nonEdition{
	margin: 5px;
	text-align:center;
	padding: 15px 0;
}

.edition{
	margin: 5px;
	padding: 5px;
}

.boutonContenu{
	border: 5px solid lightgrey;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	background-color: #EBE8E8;
}

.zoneContenu{
	border: 5px solid lightgrey;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	background-color: #EBE8E8;
	height: 275px;
	overflow: auto;
}

.boutonContenu button{
	margin-left: 36px;
}

.validerAnnulerContenu{
	border: 5px solid lightgrey;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	background-color: #EBE8E8;
    text-align: center;
}

.boutonEdition{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.boutonEdition:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.boutonEdition:active {
	position:relative;
	top:1px;
}

.selectType select {
   background: transparent;
   width: 220px;
   padding: 5px;
   font-size: 16px;
   border: 0;
   height: 34px;
   -webkit-appearance: none;
}

.selectType {
   width: 200px;
   height: 34px;
   margin-bottom:-13px;
   overflow: hidden;
   border: 1px solid #ccc;
   background: url(../image/down_arrow_select.jpg) no-repeat right #ddd;
   display:inline-block;
}
    
    /*__Prévisualisation__*/
.previsualisation{
	border: 1px solid grey;
	border-radius: 15px;
	margin: 5px;
	padding: 5px;
	background-color: darkgrey;
	height: 400px;
}

    /*__Liste d'articles__*/
.article{
	margin: 5px;
	padding: 5px;
}


