{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Actions{% endblock %}

{% block body %}
<h1>Manifestations et actions prévues en 2014 et 2015 </h1>
<h2>ACTIONS PROGRAMMEES EN 2014-2015</h2>
<img src="http://pr2l.fr/sites/default/files/styles/large/public/field/image/DSCN2937.JPG?itok=8wxgQc9T">
<ul>
	<li><em>Soirée d'étude "utopies sociales au XIXème siècle en Haute Vienne: les saints-simonien" Salle des assemblées du Conseil Général de la Haute Vienne, le mercredi 5 novembre à partir de 18h00, 11 rue François Chénieux à Limoges.</em></li>
	<li><em>Colloque : " Deux siècles d'économie sociale et solidaire avec les Corréziens" -Les grandes figures corréziènnes de l'économie sociale de Firmin Marbeau à René Teulade-. Lieu : Hôtel du Département de la Corrèze à Tulle dans l'amphithéâtre le jeudi 20 novembre 2014 à 14 heures. Intervenants : Anne-Valérie Etendard, Gilbert Beaubatie, Michel Dreyfus...</em></li>
	<li>Mise en place à St Junien d'un évènement sur l'USO (Union Syndicale Ouvrière) "L'Union Syndicale Ouvrière: une expérimentation efficiente de l'économie sociale à St Junien."</li>
	<li>Table ronde : "Aux racines de l'économie sociale". Lieu : Creuse. Date : mardi 13 janvier 2015 au Pôle Domotique de Guéret. Intervenants : Christian Laurance, Michel Manville, Michel Lulek, coopérateurs du monde agricole.</li>
	<li>Exposition à la BFM de Limoges avec comme thèmes, l'économie sociale, l'inventaire des archives et bâtiments, la présentation de PR2L. Commissaire de l'exposition prévue en 2016 : Dominique DANTHIEUX.</li>
</ul>
{% endblock %}